* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #dde1e7;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
    align-items: center;
}

.buttons h1 {
    color: #b6bbc5;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 15px;
}

.buttons li {
    position: relative;
    list-style: none;
    height: 35px;
    width: 300px;
    background: #dde1e7;
    margin: 0 10px;
    cursor: pointer;
    margin: 10px 0px;
    border-radius: 3%;
    box-shadow: -3px -3px 7px #ffffff73,
                3px 3px 5px rgba(94, 104, 121, 0.288);
}

.buttons li a {
    line-height: 35px;
    font-size: 1.4rem;
    color: #b6bbc5;
    text-decoration: none;
    text-transform: capitalize;
}

.buttons li.shadow-1 {
    box-shadow: inset -3px -3px 7px #ffffff73,
                inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.buttons li.shadow-1 a {
    font-size: 1.5rem;
}
