body {
    background: #dde1e7;
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
  }
  .title {
      position: absolute;
      font-weight: 500;
      color: rgba(0,0,0,0.5);
      top: 49%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1rem;
  }
  .form {
    width: 200px; 
    height: 200px; 
    box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.6), -5px -5px 10px rgba(255, 255, 255, 0.5);
    animation: move 2s linear infinite;
  }
  .form:hover {
    animation: shrink 1s linear;  
  }

  @keyframes move {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  @keyframes shrink {
    from {
        width: 300px; 
        height: 300px; 
    }

    to {
        width: 200px; 
        height: 200px; 
    }
  }

  @keyframes wave{
    0% {
      opacity: 1;
      transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
    }  
    100% {
      opacity: 0;
      transform: translate3d(-50%,-50%,0) scale3d(var(--scalingFactor),var(--scalingFactor),1);
    }
  }